.text-center {
  text-shadow: 5px 0px 4px rgba(0,0,0,0.41);
  
}

.card-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 1rem;
  gap: 1rem;
}

.card-container::-webkit-scrollbar {
  height: 8px;
}

.card-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.card-scroll-container {
  display: flex;
  flex-direction: row; 
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem;
  scroll-behavior: smooth;
}

.card-scroll-container::-webkit-scrollbar {
  height: 8px;
}

.card-scroll-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
  border-color: #000000;
}

.card {
  width: 200px;
  flex-shrink: 0;
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  text-shadow: 5px 0px 4px rgba(0,0,0,0.41);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


.card-scroll-container > * { 
  flex-shrink: 0; 
  width: auto; 